<footer class="gh-footer gh-outer">
  <div class="gh-footer-inner gh-inner">
    <div class="gh-footer-bar">
      <%= link_to "Kamil Lee의 개발 일기", root_path, class: "gh-footer-logo is-title", data: { turbo: true } %>
      <nav class="gh-footer-menu">
        <ul class="nav">
          <% if @categories&.any? %>
            <% @categories.each do |category| %>
              <li class="<%= 'nav-' + category.downcase %>">
                <%= link_to category, category_path(category.downcase), data: { turbo: true } %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </nav>
      <div class="gh-footer-copyright">
        Powered by <a href="https://rubyonrails.org/" target="_blank" rel="noopener">Ruby on Rails</a>
      </div>
    </div>
    <section class="gh-footer-signup">
      <%= content_tag :h2, class: "gh-footer-signup-header is-title" do -%>
        Discover what happens behind the code with me.
      <% end -%>
      <%= content_tag :p, class: "gh-footer-signup-subhead is-body" do -%>
        Updates on my projects, stories, and tips
      <% end -%>
      <!-- Newsletter(Members) 구독 폼 -->
      <form class="gh-form" data-controller="members" data-members-target="form" data-action="submit->members#subscribe">
        <input id="footer-email" class="gh-form-input" name="email" type="email" placeholder="kamillee0918@example.com" data-members-target="input" required>
        <button class="gh-button" type="submit" aria-label="Subscribe" data-members-target="button">
          <%= content_tag :span, "Subscribe", data: { members_target: "textSpan" } do %>
            <%= content_tag :span, "Subscribe" %>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
              <path d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z"></path>
            </svg>
          <% end %>
          <!-- Spinner(Loading) 애니메이션 -->
          <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24" data-members-target="spinner">
            <g stroke-linecap="round" stroke-width="2" fill="currentColor" stroke="none" stroke-linejoin="round" class="nc-icon-wrapper">
              <g class="nc-loop-dots-4-24-icon-o">
                <circle cx="4" cy="12" r="3"></circle>
                <circle cx="12" cy="12" r="3"></circle>
                <circle cx="20" cy="12" r="3"></circle>
              </g>
              <style data-cap="butt">
                .nc-loop-dots-4-24-icon-o{--animation-duration:0.8s}
                .nc-loop-dots-4-24-icon-o *{opacity:.4;transform:scale(.75);animation:nc-loop-dots-4-anim var(--animation-duration) infinite}
                .nc-loop-dots-4-24-icon-o :nth-child(1){transform-origin:4px 12px;animation-delay:-.3s;animation-delay:calc(var(--animation-duration)/-2.666)}
                .nc-loop-dots-4-24-icon-o :nth-child(2){transform-origin:12px 12px;animation-delay:-.15s;animation-delay:calc(var(--animation-duration)/-5.333)}
                .nc-loop-dots-4-24-icon-o :nth-child(3){transform-origin:20px 12px}
                @keyframes nc-loop-dots-4-anim{0%,100%{opacity:.4;transform:scale(.75)}50%{opacity:1;transform:scale(1)}}
              </style>
            </g>
          </svg>
          <!-- Checkmark 애니메이션 -->
          <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" data-members-target="checkmark">
            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
            <style>
              .checkmark {
                width: 40px;
                height: 40px;
                display: block;
                stroke-width: 2.5;
                stroke: currentColor;
                stroke-miterlimit: 10;
              }
              .checkmark__check {
                transform-origin: 50% 50%;
                stroke-dasharray: 48;
                stroke-dashoffset: 48;
                animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
              }
              @keyframes stroke {
                100% { stroke-dashoffset: 0; }
              }
            </style>
          </svg>
        </button>
        <%= tag "p", data: { members_error: "", members_target: "error" } %>
      </form>
    </section>
  </div>
</footer>
