<% if current_user? %>
  <%# 로그인 후: 사용자 아바타 클릭 시 Account 모달 열기 %>
  <div id="subscribe-root" style="z-index: 3999998; position: fixed; bottom: 0px; right: 0px; max-width: 500px; height: 98px; animation: 250ms animation-bhegco; transition: opacity 0.3s; overflow: hidden;" data-action="click->global#openAccount">
    <%= content_tag :div, class: "gh-portal-triggerbtn-wrapper" do %>
      <%= content_tag :div, class: "gh-portal-triggerbtn-container halo" do %>
        <figure class="gh-portal-avatar">
          <minidenticon-svg username="<%= Current.user.nickname %>"></minidenticon-svg>
        </figure>
      <% end %>
    <% end %>
  </div>
<% else %>
  <%# 로그인 전: Subscribe 버튼 클릭 시 Authorization 모달 열기 (signup 모드) %>
  <div id="subscribe-root" style="z-index: 3999998; position: fixed; bottom: 0px; right: 0px; max-width: 500px; height: 98px; animation: 250ms animation-bhegco; transition: opacity 0.3s; overflow: hidden;" data-action="click->global#openSignup">
    <%= content_tag :div, class: "gh-portal-triggerbtn-wrapper" do %>
      <%= content_tag :div, class: "gh-portal-triggerbtn-container with-label", style: "background-color: var(--brand-color);" do %>
        <svg id="Regular" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="width: 26px; height: 26px; color: rgb(255, 255, 255);">
          <defs>
            <style>
              .cls-1{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.8px;}
            </style>
          </defs>
          <circle class="cls-1" cx="12" cy="9.75" r="5.25"></circle>
          <path class="cls-1" d="M18.913,20.876a9.746,9.746,0,0,0-13.826,0"></path>
          <circle class="cls-1" cx="12" cy="12" r="11.25"></circle>
        </svg>
        <%= content_tag :span, "Subscribe", class: "gh-portal-triggerbtn-label" %>
      <% end %>
    <% end %>
  </div>
<% end %>
